<app-header></app-header>

<ion-content>
  <div class="ion-padding header-content">
    <ion-searchbar placeholder="Qué estás buscando?"></ion-searchbar>
  </div>

  <h1 class="ion-text-center">Servicios Destacados</h1>

    <ion-card *ngFor="let service of goldServices">
      <img src="https://img.mobiscroll.com/demos/card_2.png">
      <ion-card-header>
        <ion-card-subtitle>{{ service.sector }}</ion-card-subtitle>
        <ion-card-title>{{ service.enterprise }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          {{ service.description }}
      </ion-card-content>
    </ion-card>

</ion-content>


<app-footer></app-footer>
