.header-content {
    background: url('../../../assets/images/cover1.jpg') center no-repeat;
    background-size: cover;
    min-height: 40%;
}

.sc-ion-searchbar-md-h {
    background: transparent !important;
}
